body{
   margin:0;
   background-color: #a7c5eb;
   text-align: center;
   font-family:  'Merriweather', serif;
}
 h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;}

h2{
    font-family: 'Montserrat', sans-serif;
  }
h3{
    font-family: 'Montserrat', sans-serif;
  }
 
p{
    margin: 0;
    font-family: 'open sans';
}
.top-container{
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
 
 }
 
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}
.skills1{
    height: 100px;
    width:100px
    left:100px;
}

.skills2{
    height: 100px;
    width:100px
    left:100px;
}


